@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@600&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

@media screen and (min-width: 1281px) {
  .navbarRight {
    display: flex;
    margin-right: 30px;
    margin-left: auto;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .navbarRightSmall {
    display: none;
  }

  /* front page grid */
  .gridForSmall {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
.navbarRight {
  display: none;
}

.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }

 
}

@media screen and (min-width: 960px) {
    /* front page grid */
  .gridForSmall {
    display: none;
  }
}
@media screen and (max-width: 960px) {
.navbarRight {
  display: none;
}

.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }

  /* container'width */
  .con {
    width: 90%;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
  }

  /* front page grid */
  .gridForBig {
    display: none;
  }
}

@media screen and (max-width: 600px) {
.navbarRight {
  display: none;
}

.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }

  /* front page grid */
  .gridForBig {
    display: none;
  }
}
  /* container'width */
.con {
  width: 80%;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}

/* navbar */
  .navItem {
    margin-left: 50px;
    font-family: "Montserrat";
    color: white;
  }
  
  .navbar {
    display: flex;
    position: sticky;
    top: 0;
    height: 90px;
    /* background-color: #2B2B2B; */
    background-color: black;
    /* filter:opacity(70%);     */
    z-index: 100;
  }
  
  .fontFrescure {
    font-family: "Dancing Script";
    color: white;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 30px;
  }

  .logo {
    margin-Top: 10px;
    margin-left: 10px;
    z-index: 120;
  }

/* home page */
.parent {
  position: relative;
}

.topImage {
  width: 100%;
}

.homeText1 {
  color: orange;
  font-family: Rajdhani;
}

.homeText2 {
  color: white;
  font-family: Rajdhani;
}

.animate :nth-of-type(2) {
	animation-delay: .05s;
}
.animate :nth-of-type(3) {
	animation-delay: .1s;
}
.animate :nth-of-type(4) {
	animation-delay: .15s;
}
.animate :nth-of-type(5) {
	animation-delay: .2s;
}
.animate :nth-of-type(6) {
	animation-delay: .25s;
}
.animate :nth-of-type(7) {
	animation-delay: .3s;
}
.animate :nth-of-type(8) {
	animation-delay: .35s;
}
.animate :nth-of-type(9) {
	animation-delay: .4s;
}
.animate :nth-of-type(10) {
	animation-delay: .45s;
}
.animate :nth-of-type(11) {
	animation-delay: .5s;
}
.animate :nth-of-type(12) {
	animation-delay: .55s;
}
.animate :nth-of-type(13) {
	animation-delay: .6s;
}
.animate :nth-of-type(14) {
	animation-delay: .65s;
}
.animate :nth-of-type(15) {
	animation-delay: .7s;
}
.animate :nth-of-type(16) {
	animation-delay: .75s;
}
.animate :nth-of-type(17) {
	animation-delay: .8s;
}
.animate :nth-of-type(18) {
	animation-delay: .85s;
}
.animate :nth-of-type(19) {
	animation-delay: .9s;
}
.animate :nth-of-type(20) {
	animation-delay: .95s;
}


/* Animation One */
.animate span{
	color: #145a7a;
	opacity: 0;
	transform: translate(-150px, -50px) rotate(-180deg) scale(3);
	animation: revolveScale .4s forwards;
}

.animate {
  position: absolute;
  top: 20%;
  right: 5%;
  font-family: "Montserrat";
  font-size: 30px;
  transform: rotate(-10deg);
}

@keyframes revolveScale {
	60% {
		transform: translate(20px, 20px) rotate(30deg) scale(.3);
	}
	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
}


/* contact */
.contactTitle {
  color: orange;
  font-size: 80px;
  font-family: "Dancing Script";
}

.contactText1 {
  color: orange;
  font-family: Rajdhani;
}

.contactText2 {
  color: white;
  font-family: Rajdhani;
}

/* about */
.aboutTitle {
  color: orange;
  font-size: 80px;
  font-family: "Dancing Script";
}

.aboutText1 {
  color: white;
  font-family: Rajdhani;
}

.chef {
  filter: grayscale(20);
}

.textChef {
  color: orange;
  font-family: Rajdhani;
}

.textChef2 {
  color: white;
  font-family: Rajdhani;
}
.chefComent {
  width :80%;
  color: white;
  font-family: Rajdhani;
}

/* menu */
.menuTitle {
  color: orange;
  font-size: 80px;
  font-family: "Dancing Script";
}

.menuText1 {
  color: orange;
  font-family: Rajdhani;
  font-size: 40px;
}

.menuText2 {
color: yellow;
font-family: Rajdhani;
font-size: 30px;
}
.menuText3 {
  color: white;
  font-family: Rajdhani;
}

.menuText4 {
  font-family: Rajdhani;
  color: white;
  font-size: 30px;
}

/* footer */
.copyright {
  color: white;
  display: block;
}

.backGroundFooter {
  background-color: black;
  color: white;
  font-family: Rajdhani;
}

.footerR {
  margin-left: 50px;
}

.footerL {
margin-left: 50px;
}

.footerIcon {
  margin-right: 20px;
}


  /* common css code */
.backGround {
  background-image: url('../public/wood2.jpg');
  background-size: contain;
  
}
.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.mt10 {
  margin-top: 100px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb5 {
  margin-bottom: 50px;
}

.longLine {
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
}

