@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@600&family=PT+Serif&display=swap');

@media screen and (min-width: 1281px) {
  .navbarRight {
    display: flex;
    margin-right: 30px;
    margin-left: auto;
    margin-top: 20px;
    justify-content: flex-end;
  }
  .navbarRightSmall {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
.navbarRight {
  display: none;
}
.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }
}

@media screen and (max-width: 960px) {
.navbarRight {
  display: none;
}

.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }

  /* container'width */
  .con {
    width: 90%;
    z-index: 10;
  }
}

@media screen and (max-width: 600px) {
.navbarRight {
  display: none;
}

.navbarRightSmall {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: auto;
  }
}
  /* container'width */
.con {
  width: 80%;
  z-index: 10;
}

/* navbar */
  .navItem {
    margin-left: 50px;
    font-family: "Montserrat";
    color: white;
  }
  
  .navbar {
    display: flex;
    position: sticky;
    top: 0;
    height: 90px;
    /* background-color: #2B2B2B; */
    
    z-index: 100;
  }
  
  .fontFrescure {
    font-family: "Dancing Script";
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 50px;
  }


/* home page */
.tonto {
  font-size: 50px;
  color: white;
}


/* footer */
.copyright {
  color: white;
}


  /* common css code */
.backGround {
  background-image: url('../public/wood.jpg');
  background-size: cover;
}
.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.mt10 {
  margin-top: 100px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb5 {
  margin-bottom: 50px;
}

.longLine {
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
}

